.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #fff5ff;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.login-container form {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ffccff;
    width: 350px;
    text-align: center;
}

.login-container form h2 {
    margin-bottom: 20px;
    color: #ff9ff3;
    font-size: 1.5rem;
}

.forgot-password-link {
    display: block;
    margin-bottom: 20px;
    color: #ff9ff3;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    font-size: 0.9rem;
}

.forgot-password-link:hover {
    color: #ffccff;
    text-decoration: underline;
}

.login-container form p {
    margin-top: 20px;
    color: #666;
    font-size: 0.9rem;
}

.login-container form p a {
    color: #ff9ff3;
    font-weight: bold;
    text-decoration: none;
}

.login-container form p a:hover {
    color: #ffccff;
    text-decoration: underline;
}
