body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
button.btn {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
